workflows/expense_management_n8n_workflow_with_mongodb.json
{
  "name": "Automated Expense Management - Discord Receipt RPA Prototype",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d11e2807-e58f-474a-89e9-f96382ef13fa",
      "name": "Webhook - Discord Receipt Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "content": "Expected POST body from your Discord bot:\n\n{\n  \"discordUser\": \"Paul Krus\",\n  \"discordUserId\": \"123456789\",\n  \"messageTimestamp\": \"2026-05-25T14:14:34.000Z\",\n  \"submittedDate\": \"2026-05-25\",\n  \"messageId\": \"discord-message-id\",\n  \"channelId\": \"discord-channel-id\",\n  \"imageBase64\": \"base64_receipt_image_here\",\n  \"mimeType\": \"image/jpeg\",\n  \"authorIsBot\": false\n}\n\nThe Discord bot must:\n1. Filter out messages where author.bot === true before POSTing\n2. Convert the Discord attachment image to base64 before sending",
        "height": 320,
        "width": 520,
        "color": 4
      },
      "id": "d7e2ae9a-6169-4c8c-908b-ca22362ace1f",
      "name": "README - Expected Input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $json.body ?? $json;\n\n// Bot message guard - discard if message is from a bot\nif (body.authorIsBot === true) {\n  return [];\n}\n\nconst requiredInput = ['discordUser', 'discordUserId', 'messageTimestamp', 'submittedDate', 'imageBase64'];\nconst missingInput = requiredInput.filter((key) => !body[key]);\n\nreturn [{\n  json: {\n    discordUser: body.discordUser || 'Unknown user',\n    discordUserId: body.discordUserId || '',\n    messageTimestamp: body.messageTimestamp || new Date().toISOString(),\n    submittedDate: body.submittedDate || new Date().toISOString().slice(0, 10),\n    messageId: body.messageId || '',\n    channelId: body.channelId || '',\n    imageBase64: body.imageBase64 || '',\n    mimeType: body.mimeType || 'image/jpeg',\n    inputMissingFields: missingInput\n  }\n}];\n"
      },
      "id": "a6b48387-c986-4140-806f-5fc139c73202",
      "name": "Normalize Discord Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "SubmissionReceived",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "=Submission accepted from {{ $json.discordUser }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-submission-received",
      "name": "Log - SubmissionReceived",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        260,
        520
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "AIExtractionRequested",
            "messageId": "={{ $('Normalize Discord Input').item.json.messageId }}",
            "discordUser": "={{ $('Normalize Discord Input').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Normalize Discord Input').item.json.messageTimestamp }}",
            "details": "=Calling LLM extraction for message {{ $('Normalize Discord Input').item.json.messageId || '(no id)' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-ai-extraction-requested",
      "name": "Log - AIExtractionRequested",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LLM_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.LLM_API_KEY}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.LLM_MODEL }}"
            },
            {
              "name": "max_tokens",
              "value": "={{ 1200 }}"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "messages",
              "value": "={{ [{ role: 'user', content: [{ type: 'text', text: 'You are extracting expense receipt data for an RPA workflow. Return ONLY valid JSON, no markdown. Schema: {\"ReceiptDetected\": boolean, \"Merchant\": string|null, \"ReceiptDate\": string|null (format DD-MM-YYYY), \"Currency\": string|null, \"TotalAmount\": number|null, \"VATAmount\": number|null, \"VATIncluded\": \"Yes\"|\"No\"|null, \"Category\": string|null, \"PaymentMethod\": string|null, \"ReceiptId\": string|null, \"BusinessPurpose\": string|null, \"Confidence\": number, \"Notes\": string|null}. If standard groceries or restaurant use Category: Food / Meals. If corporate transaction use PaymentMethod: Company Card. If image is not a receipt set ReceiptDetected false and all receipt fields null.' }, { type: 'image_url', image_url: { url: 'data:' + $('Normalize Discord Input').first().json.mimeType + ';base64,' + $('Normalize Discord Input').first().json.imageBase64 } }] }] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "d0b0e2b2-877d-4cdc-8c38-f77bb750ac00",
      "name": "AI Extraction - LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst original = $('Normalize Discord Input').first().json;\nconst response = $json;\n\nfunction safeString(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction parseLlmJson(resp) {\n  if (resp.error || resp.message?.includes?.('Error')) {\n    return { apiUnavailable: true, invalidJson: false, parseError: null, aiRawText: '', extracted: null };\n  }\n  const text =\n    resp.choices?.[0]?.message?.content ??\n    resp.body?.choices?.[0]?.message?.content ??\n    resp.data?.choices?.[0]?.message?.content ??\n    '';\n  if (!text) {\n    return { apiUnavailable: true, invalidJson: false, parseError: null, aiRawText: '', extracted: null };\n  }\n  try {\n    const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n    return { apiUnavailable: false, invalidJson: false, parseError: null, aiRawText: text, extracted: JSON.parse(cleaned) };\n  } catch (error) {\n    return { apiUnavailable: false, invalidJson: true, parseError: error.message, aiRawText: text, extracted: { ReceiptDetected: false } };\n  }\n}\n\nconst parsed = parseLlmJson(response);\n\nif (parsed.apiUnavailable) {\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: true,\n      receiptDetected: false,\n      logEvent: 'AIUnavailable',\n      logLabel: 'error',\n      status: 'Rejected',\n      details: 'LLM endpoint unreachable or returned no usable response.',\n      discordMessage: `⚠️ <@${original.discordUserId}> your receipt could not be processed because the AI service is unavailable. Please try again later.`\n    }\n  }];\n}\n\nif (parsed.invalidJson) {\n  const rawHead = (parsed.aiRawText || '').slice(0, 200).replace(/\\s+/g, ' ');\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: false,\n      receiptDetected: false,\n      logEvent: 'AIResponseInvalid',\n      logLabel: 'error',\n      status: 'Rejected',\n      details: `AI returned non-JSON output: ${parsed.parseError}. Raw head: ${rawHead}`,\n      aiRawText: parsed.aiRawText,\n      discordMessage: `❌ <@${original.discordUserId}> the AI response was unreadable. Please re-upload the receipt.`\n    }\n  }];\n}\n\nconst ai = parsed.extracted || {};\nconst receiptDetected = ai.ReceiptDetected === true;\n\nif (!receiptDetected) {\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: false,\n      receiptDetected: false,\n      logEvent: 'NoReceiptDetected',\n      logLabel: 'warning',\n      status: 'Rejected',\n      details: `Image classified as non-receipt. AI notes: ${safeString(ai.Notes) || 'no notes provided'}`,\n      aiRawText: parsed.aiRawText,\n      discordMessage: `❌ <@${original.discordUserId}> no valid receipt was detected. Please send a new image of the receipt.`\n    }\n  }];\n}\n\nconst merged = {\n  discordUser: original.discordUser,\n  discordUserId: original.discordUserId,\n  messageTimestamp: original.messageTimestamp,\n  submittedDate: original.submittedDate,\n  messageId: original.messageId,\n  channelId: original.channelId,\n  merchant: safeString(ai.Merchant),\n  receiptDate: safeString(ai.ReceiptDate),\n  currency: safeString(ai.Currency),\n  totalAmount: ai.TotalAmount ?? '',\n  vatAmount: ai.VATAmount ?? '',\n  vatIncluded: safeString(ai.VATIncluded),\n  category: safeString(ai.Category),\n  paymentMethod: safeString(ai.PaymentMethod),\n  receiptId: safeString(ai.ReceiptId),\n  businessPurpose: safeString(ai.BusinessPurpose),\n  confidence: ai.Confidence ?? '',\n  notes: safeString(ai.Notes)\n};\n\nconst requiredFields = [\n  ['Merchant', merged.merchant],\n  ['Receipt Date', merged.receiptDate],\n  ['Currency', merged.currency],\n  ['Total Amount', merged.totalAmount],\n  ['VAT Amount', merged.vatAmount],\n  ['Category', merged.category],\n  ['Payment Method', merged.paymentMethod]\n];\n\nconst missingFields = requiredFields\n  .filter(([_, value]) => value === '' || value === null || value === undefined)\n  .map(([field]) => field);\n\nconst hasMissingFields = missingFields.length > 0;\nconst status = hasMissingFields ? 'Pending Review' : 'Approved by Bot';\n\nconst aiSummary = `Merchant: ${merged.merchant || '(blank)'}, Total: ${merged.totalAmount === '' ? '(blank)' : merged.totalAmount} ${merged.currency || ''}, Date: ${merged.receiptDate || '(blank)'}, Confidence: ${merged.confidence === '' ? '(blank)' : merged.confidence}`;\nconst aiResponseDetails = `Receipt parsed — ${aiSummary}`;\nconst missingDetails = `Routed to Pending Review. Missing fields: ${missingFields.join(', ')}`;\n\n// Sheet row — matches Receipts sheet column order exactly:\n// Employee Name | Submitted Date | Receipt Date | Merchant\n// | Expense Category | Payment Method | Currency\n// | Total Amount | VAT Included | VAT Amount | Status\nconst rowValues = [\n  merged.discordUser,\n  merged.submittedDate,\n  merged.receiptDate,\n  merged.merchant,\n  merged.category,\n  merged.paymentMethod,\n  merged.currency,\n  merged.totalAmount,\n  merged.vatIncluded,\n  merged.vatAmount,\n  status\n];\n\nconst discordMessage = hasMissingFields\n  ? `🟡 <@${merged.discordUserId}> your receipt was detected, but it is missing required data.\\n\\n**Status:** Pending Review\\n**Missing:** ${missingFields.join(', ')}\\n\\nPlease re-upload the receipt with the missing information.`\n  : `✅ <@${merged.discordUserId}> your receipt was processed successfully.\\n\\n**Status:** Approved by Bot\\n**Merchant:** ${merged.merchant}\\n**Amount:** ${merged.totalAmount} ${merged.currency}\\n**Category:** ${merged.category}`;\n\nreturn [{\n  json: {\n    ...merged,\n    apiUnavailable: false,\n    receiptDetected: true,\n    hasMissingFields,\n    missingFields,\n    status,\n    details: aiResponseDetails,\n    missingDetails,\n    rowValues,\n    aiRawText: parsed.aiRawText,\n    logEvent: 'AIResponseReceived',\n    logLabel: 'info',\n    discordMessage\n  }\n}];\n"
      },
      "id": "7624a547-0bf0-40e6-9d98-b9c14dd7806b",
      "name": "Parse AI Response and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "apiUnavailable",
              "leftValue": "={{$json.apiUnavailable}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9810508d-1f9a-41fc-aa2e-43fd9fdb6224",
      "name": "IF - AI API unavailable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "error",
            "event": "AIUnavailable",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "={{ $json.details }}",
            "N8NStackTrace": "={{ $json.error?.message || $json.message || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "N8NStackTrace", "displayName": "N8NStackTrace", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-ai-unavailable",
      "name": "Log - AIUnavailable",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1340,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6c26d5b4-90dc-495d-b479-4e058c4be3e0",
      "name": "Discord Notify - AI Unavailable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "Submission halted — AI unavailable. Final status: Rejected."
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-ai-unavailable",
      "name": "Log - WorkflowCompleted (AI Unavailable)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1450,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: false, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details }) }}",
        "options": {}
      },
      "id": "51ad1b70-fa4f-4764-99e0-06e5a7ad1598",
      "name": "Respond - AI Unavailable",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "receiptDetected",
              "leftValue": "={{$json.receiptDetected}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62d7ad86-a0b3-4165-a9ed-b389d0805b89",
      "name": "IF - Receipt detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        520
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "={{ $json.logLabel }}",
            "event": "={{ $json.logEvent }}",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "={{ $json.details }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-no-receipt",
      "name": "Log - NoReceiptDetected",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b4dfc0c-497c-482b-97fc-49e080e4e49d",
      "name": "Discord Notify - No Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "=Submission halted — {{ $('Parse AI Response and Validate').item.json.logEvent }}. Final status: Rejected."
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-no-receipt",
      "name": "Log - WorkflowCompleted (No Receipt)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1710,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: false, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details }) }}",
        "options": {}
      },
      "id": "77ef125f-f46c-4bc4-a086-dcb275149683",
      "name": "Respond - No Receipt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "AIResponseReceived",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "={{ $json.details }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-ai-response",
      "name": "Log - AIResponseReceived",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1640,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hasMissingFields",
              "leftValue": "={{ $('Parse AI Response and Validate').item.json.hasMissingFields }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6a9a9e6-434b-45cd-babb-4ed88cb4f8c5",
      "name": "IF - Missing required fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1900,
        680
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "warning",
            "event": "MissingRequiredFields",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "={{ $('Parse AI Response and Validate').item.json.missingDetails }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-missing-fields",
      "name": "Log - MissingRequiredFields",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2020,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}/values/Receipts:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "values",
              "value": "={{ [$('Parse AI Response and Validate').item.json.rowValues] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e0759111-e530-4236-80de-5d13eceda849",
      "name": "Sheets Append - Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        580
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sheets-error-pending",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sheets-pending-error",
      "name": "Sheets Write Failed? (Pending)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        580
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "SheetAppendSucceeded",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "=Appended row to Receipts as Pending Review. Range: {{ $json.updates?.updatedRange || $json.tableRange || 'unknown' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-pending-wrote",
      "name": "Log - SheetAppendSucceeded (Pending)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2560,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Parse AI Response and Validate').item.json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f90074ea-85e6-44ac-9fc1-8f158672d6d3",
      "name": "Discord Notify - Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        820
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "Submission processed end-to-end. Final status: Pending Review."
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-pending",
      "name": "Log - WorkflowCompleted (Pending)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2780,
        820
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details, missingFields: $('Parse AI Response and Validate').item.json.missingFields }) }}",
        "options": {}
      },
      "id": "740920ad-c3ee-4902-aff8-cd22fec3aeac",
      "name": "Respond - Pending Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3000,
        820
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "error",
            "event": "SheetAppendFailed",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "Failed to append Pending Review row to Google Sheets.",
            "N8NStackTrace": "={{ $json.error?.message || $json.error || $json.message || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "N8NStackTrace", "displayName": "N8NStackTrace", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-sheets-pending-error",
      "name": "Log - SheetAppendFailed (Pending)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2560,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ '<@' + $('Parse AI Response and Validate').item.json.discordUserId + '> ⚠️ Your receipt was processed but could not be saved to the expense sheet. Please contact the accountant.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-sheets-pending-error",
      "name": "Discord Notify - SheetWriteFailed (Pending)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}/values/Receipts:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "values",
              "value": "={{ [$('Parse AI Response and Validate').item.json.rowValues] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5abb6c97-86b9-47a7-b8d8-a9b146cf4a2f",
      "name": "Sheets Append - Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        860
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sheets-error-approved",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sheets-approved-error",
      "name": "Sheets Write Failed? (Approved)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2340,
        860
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "SheetAppendSucceeded",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "=Appended row to Receipts as Approved by Bot. Range: {{ $json.updates?.updatedRange || $json.tableRange || 'unknown' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-success",
      "name": "Log - SheetAppendSucceeded (Approved)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2560,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Parse AI Response and Validate').item.json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d00b0180-1ca4-481e-a6bc-5a3d2832670e",
      "name": "Discord Notify - Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        1100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "Submission processed end-to-end. Final status: Approved by Bot."
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-success",
      "name": "Log - WorkflowCompleted (Approved)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2780,
        1100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details }) }}",
        "options": {}
      },
      "id": "bd175bda-daec-41ae-bc52-3c4709b991d4",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3000,
        1100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Z9jJBQnvvtMps1A",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "error",
            "event": "SheetAppendFailed",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "Failed to append Approved by Bot row to Google Sheets.",
            "N8NStackTrace": "={{ $json.error?.message || $json.error || $json.message || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "label", "displayName": "label", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "event", "displayName": "event", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageId", "displayName": "messageId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "discordUser", "displayName": "discordUser", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "messageTimestamp", "displayName": "messageTimestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "details", "displayName": "details", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "N8NStackTrace", "displayName": "N8NStackTrace", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-sheets-approved-error",
      "name": "Log - SheetAppendFailed (Approved)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2560,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ '<@' + $('Parse AI Response and Validate').item.json.discordUserId + '> ⚠️ Your receipt was processed but could not be saved to the expense sheet. Please contact the accountant.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-sheets-approved-error",
      "name": "Discord Notify - SheetWriteFailed (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        760
      ]
    },
    {
      "parameters": {
        "content": "Set these in your n8n environment/config:\n\nLLM_BASE_URL=https://api.anthropic.com/v1\nLLM_API_KEY=your_anthropic_key\nLLM_MODEL=claude-sonnet-4-20250514\nDISCORD_LOG_WEBHOOK_URL=https://discord.com/api/webhooks/...\nDISCORD_ACCOUNTANT_ROLE_ID=...           (used by Logging Subworkflow on log-write failure)\nGOOGLE_SHEETS_SPREADSHEET_ID=your_google_sheet_id\n\nMongoDB credential in n8n:\nmongodb://admin:password@mongo:27017/expense_rpa?authSource=admin\n\nSheet column order (must match rowValues in Parse node):\nEmployee Name | Submitted Date | Receipt Date | Merchant\n| Expense Category | Payment Method | Currency\n| Total Amount | VAT Included | VAT Amount | Status\n\nLog event taxonomy (logs collection in MongoDB):\n  SubmissionReceived    (info)\n  AIExtractionRequested (info)\n  AIUnavailable         (error)\n  AIResponseInvalid     (error)\n  AIResponseReceived    (info)\n  NoReceiptDetected     (warning)\n  MissingRequiredFields (warning)\n  SheetAppendSucceeded  (info)\n  SheetAppendFailed     (error)\n  WorkflowCompleted     (info)\n\nDocument shape per log (enforced by the logging subworkflow):\n  label, event, logTimestamp, messageId,\n  discordUser, messageTimestamp, details,\n  N8NStackTrace (only on errors)\n\nIMPORTANT: Import the Logging Subworkflow first,\nthen replace 6Z9jJBQnvvtMps1A in every Log - * node\nwith its workflow ID from the n8n URL.\n\nAll user-facing Discord notifications (success, missing fields,\nno receipt, AI unavailable, sheet-write failed) post to\nDISCORD_LOG_WEBHOOK_URL via HTTP — no Discord bot credential\nor channelId placeholder needed in the workflow.",
        "height": 620,
        "width": 540,
        "color": 5
      },
      "id": "0b3bd961-e1a6-4e23-9f0b-d1e840ed59ea",
      "name": "README - Environment Variables",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        -180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Discord Receipt Submission": {
      "main": [
        [
          { "node": "Normalize Discord Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Discord Input": {
      "main": [
        [
          { "node": "Log - SubmissionReceived", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - SubmissionReceived": {
      "main": [
        [
          { "node": "Log - AIExtractionRequested", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - AIExtractionRequested": {
      "main": [
        [
          { "node": "AI Extraction - LLM", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Extraction - LLM": {
      "main": [
        [
          { "node": "Parse AI Response and Validate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response and Validate": {
      "main": [
        [
          { "node": "IF - AI API unavailable?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - AI API unavailable?": {
      "main": [
        [
          { "node": "Log - AIUnavailable", "type": "main", "index": 0 },
          { "node": "Discord Notify - AI Unavailable", "type": "main", "index": 0 }
        ],
        [
          { "node": "IF - Receipt detected?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Discord Notify - AI Unavailable": {
      "main": [
        [
          { "node": "Log - WorkflowCompleted (AI Unavailable)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - WorkflowCompleted (AI Unavailable)": {
      "main": [
        [
          { "node": "Respond - AI Unavailable", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - Receipt detected?": {
      "main": [
        [
          { "node": "Log - AIResponseReceived", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log - NoReceiptDetected", "type": "main", "index": 0 },
          { "node": "Discord Notify - No Receipt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Discord Notify - No Receipt": {
      "main": [
        [
          { "node": "Log - WorkflowCompleted (No Receipt)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - WorkflowCompleted (No Receipt)": {
      "main": [
        [
          { "node": "Respond - No Receipt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - AIResponseReceived": {
      "main": [
        [
          { "node": "IF - Missing required fields?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - Missing required fields?": {
      "main": [
        [
          { "node": "Log - MissingRequiredFields", "type": "main", "index": 0 }
        ],
        [
          { "node": "Sheets Append - Approved", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - MissingRequiredFields": {
      "main": [
        [
          { "node": "Sheets Append - Pending Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets Append - Pending Review": {
      "main": [
        [
          { "node": "Sheets Write Failed? (Pending)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets Write Failed? (Pending)": {
      "main": [
        [
          { "node": "Log - SheetAppendFailed (Pending)", "type": "main", "index": 0 },
          { "node": "Discord Notify - SheetWriteFailed (Pending)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log - SheetAppendSucceeded (Pending)", "type": "main", "index": 0 },
          { "node": "Discord Notify - Pending Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "Discord Notify - Pending Review": {
      "main": [
        [
          { "node": "Log - WorkflowCompleted (Pending)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - WorkflowCompleted (Pending)": {
      "main": [
        [
          { "node": "Respond - Pending Review", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - SheetAppendFailed (Pending)": {
      "main": [
        []
      ]
    },
    "Discord Notify - SheetWriteFailed (Pending)": {
      "main": [
        []
      ]
    },
    "Sheets Append - Approved": {
      "main": [
        [
          { "node": "Sheets Write Failed? (Approved)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets Write Failed? (Approved)": {
      "main": [
        [
          { "node": "Log - SheetAppendFailed (Approved)", "type": "main", "index": 0 },
          { "node": "Discord Notify - SheetWriteFailed (Approved)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log - SheetAppendSucceeded (Approved)", "type": "main", "index": 0 },
          { "node": "Discord Notify - Success", "type": "main", "index": 0 }
        ]
      ]
    },
    "Discord Notify - Success": {
      "main": [
        [
          { "node": "Log - WorkflowCompleted (Approved)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - WorkflowCompleted (Approved)": {
      "main": [
        [
          { "node": "Respond - Success", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log - SheetAppendFailed (Approved)": {
      "main": [
        []
      ]
    },
    "Discord Notify - SheetWriteFailed (Approved)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "description": "Main AccountantBot workflow. Calls the Logging Subworkflow for all log events with retry logic. Posts user-facing Discord notifications via DISCORD_LOG_WEBHOOK_URL on every terminal branch (Approved, Pending Review, No Receipt, AI Unavailable, Sheet write failed)."
  },
  "tags": []
}
