workflows/expense_management_n8n_workflow_with_mongodb.json
{
  "name": "Automated Expense Management - Discord Receipt RPA Prototype",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d11e2807-e58f-474a-89e9-f96382ef13fa",
      "name": "Webhook - Discord Receipt Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "content": "Expected POST body from your Discord bot:\\n\\n{\\n  \"discordUser\": \"Paul Krus\",\\n  \"discordUserId\": \"123456789\",\\n  \"messageTimestamp\": \"2026-05-25T14:14:34.000Z\",\\n  \"submittedDate\": \"2026-05-25\",\\n  \"messageId\": \"discord-message-id\",\\n  \"channelId\": \"discord-channel-id\",\\n  \"imageBase64\": \"base64_receipt_image_here\",\\n  \"mimeType\": \"image/jpeg\"\\n}\\n\\nThe bot should convert the Discord attachment image to base64 before sending it to this webhook.",
        "height": 300,
        "width": 520,
        "color": 4
      },
      "id": "d7e2ae9a-6169-4c8c-908b-ca22362ace1f",
      "name": "README - Expected Input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $json.body ?? $json;\n\nconst requiredInput = ['discordUser', 'discordUserId', 'messageTimestamp', 'submittedDate', 'imageBase64'];\nconst missingInput = requiredInput.filter((key) => !body[key]);\n\nreturn [{\n  json: {\n    discordUser: body.discordUser || 'Unknown user',\n    discordUserId: body.discordUserId || '',\n    messageTimestamp: body.messageTimestamp || new Date().toISOString(),\n    submittedDate: body.submittedDate || new Date().toISOString().slice(0, 10),\n    messageId: body.messageId || '',\n    channelId: body.channelId || '',\n    imageBase64: body.imageBase64 || '',\n    mimeType: body.mimeType || 'image/jpeg',\n    inputMissingFields: missingInput\n  }\n}];\n"
      },
      "id": "a6b48387-c986-4140-806f-5fc139c73202",
      "name": "Normalize Discord Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LLM_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.LLM_API_KEY}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $env.LLM_MODEL,\n  \"max_tokens\": 1200,\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"You are extracting expense receipt data for an RPA workflow. Return ONLY valid JSON, no markdown. Schema: {\\\"ReceiptDetected\\\": boolean, \\\"Merchant\\\": string|null, \\\"ReceiptDate\\\": string|null, \\\"Currency\\\": string|null, \\\"TotalAmount\\\": number|null, \\\"VATAmount\\\": number|null, \\\"Category\\\": string|null, \\\"PaymentMethod\\\": string|null, \\\"ReceiptId\\\": string|null, \\\"BusinessPurpose\\\": string|null, \\\"Confidence\\\": number, \\\"Notes\\\": string|null}. If the image is not a receipt, set ReceiptDetected false and all receipt fields null. Use ISO date format YYYY-MM-DD when possible.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:\" + $json.mimeType + \";base64,\" + $json.imageBase64\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "d0b0e2b2-877d-4cdc-8c38-f77bb750ac00",
      "name": "AI Extraction - LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst original = $('Normalize Discord Input').first().json;\nconst response = $json;\n\nfunction safeString(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction parseLlmJson(resp) {\n  if (resp.error || resp.message?.includes?.('Error')) {\n    return { apiUnavailable: true, aiRawText: '', extracted: null };\n  }\n\n  const text =\n    resp.choices?.[0]?.message?.content ??\n    resp.body?.choices?.[0]?.message?.content ??\n    resp.data?.choices?.[0]?.message?.content ??\n    '';\n\n  if (!text) {\n    return { apiUnavailable: true, aiRawText: '', extracted: null };\n  }\n\n  try {\n    const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n    return { apiUnavailable: false, aiRawText: text, extracted: JSON.parse(cleaned) };\n  } catch (error) {\n    return { apiUnavailable: false, aiRawText: text, extracted: {\n      ReceiptDetected: false,\n      Notes: `AI returned invalid JSON: ${error.message}`\n    }};\n  }\n}\n\nconst parsed = parseLlmJson(response);\n\nif (parsed.apiUnavailable) {\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: true,\n      logEvent: 'AIUnavailable',\n      status: 'Rejected',\n      details: 'LLM API failed or returned no usable response.',\n      discordMessage: `\u26a0\ufe0f <@${original.discordUserId}> your receipt could not be processed because the AI service is unavailable. Please try again later.`\n    }\n  }];\n}\n\nconst ai = parsed.extracted || {};\nconst receiptDetected = ai.ReceiptDetected === true;\n\nif (!receiptDetected) {\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: false,\n      receiptDetected: false,\n      logEvent: 'NoReceiptRegistered',\n      status: 'Rejected',\n      details: safeString(ai.Notes) || 'No receipt was detected in the submitted image.',\n      aiRawText: parsed.aiRawText,\n      discordMessage: `\u274c <@${original.discordUserId}> no valid receipt was detected. Please send a new image of the receipt.`\n    }\n  }];\n}\n\nconst merged = {\n  discordUser: original.discordUser,\n  discordUserId: original.discordUserId,\n  messageTimestamp: original.messageTimestamp,\n  submittedDate: original.submittedDate,\n  messageId: original.messageId,\n  channelId: original.channelId,\n\n  merchant: safeString(ai.Merchant),\n  receiptDate: safeString(ai.ReceiptDate),\n  currency: safeString(ai.Currency),\n  totalAmount: ai.TotalAmount ?? '',\n  vatAmount: ai.VATAmount ?? '',\n  category: safeString(ai.Category),\n  paymentMethod: safeString(ai.PaymentMethod),\n  receiptId: safeString(ai.ReceiptId),\n  businessPurpose: safeString(ai.BusinessPurpose),\n  confidence: ai.Confidence ?? '',\n  notes: safeString(ai.Notes)\n};\n\nconst requiredFields = [\n  ['Merchant', merged.merchant],\n  ['Receipt Date', merged.receiptDate],\n  ['Currency', merged.currency],\n  ['Total Amount', merged.totalAmount],\n  ['VAT Amount', merged.vatAmount],\n  ['Category', merged.category]\n];\n\nconst missingFields = requiredFields\n  .filter(([_, value]) => value === '' || value === null || value === undefined)\n  .map(([field]) => field);\n\nconst hasMissingFields = missingFields.length > 0;\nconst status = hasMissingFields ? 'Pending Review' : 'Approved';\nconst details = hasMissingFields\n  ? `Missing fields: ${missingFields.join(', ')}`\n  : 'Valid receipt.';\n\nconst rowValues = [\n  merged.submittedDate,\n  merged.messageTimestamp,\n  merged.discordUser,\n  merged.discordUserId,\n  merged.receiptId,\n  merged.merchant,\n  merged.receiptDate,\n  merged.category,\n  merged.currency,\n  merged.totalAmount,\n  merged.vatAmount,\n  merged.paymentMethod,\n  merged.businessPurpose,\n  status,\n  details,\n  merged.confidence,\n  merged.messageId\n];\n\nconst discordMessage = hasMissingFields\n  ? `\ud83d\udfe1 <@${merged.discordUserId}> your receipt was detected, but it is missing required data.\\n\\n**Status:** Pending Review\\n**Details:** ${details}\\n\\n<@&${$env.DISCORD_ACCOUNTANT_ROLE_ID}> please review this expense.`\n  : `\u2705 <@${merged.discordUserId}> your receipt was processed successfully.\\n\\n**Status:** Approved\\n**Merchant:** ${merged.merchant}\\n**Amount:** ${merged.totalAmount} ${merged.currency}\\n**Category:** ${merged.category}\\n\\n<@&${$env.DISCORD_ACCOUNTANT_ROLE_ID}>`;\n\nreturn [{\n  json: {\n    ...merged,\n    apiUnavailable: false,\n    receiptDetected: true,\n    hasMissingFields,\n    missingFields,\n    status,\n    details,\n    rowValues,\n    aiRawText: parsed.aiRawText,\n    logEvent: hasMissingFields ? `AIResponseReceived; MissingFields` : `AIResponseReceived`,\n    discordMessage\n  }\n}];\n"
      },
      "id": "7624a547-0bf0-40e6-9d98-b9c14dd7806b",
      "name": "Parse AI Response and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "apiUnavailable",
              "leftValue": "={{$json.apiUnavailable}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9810508d-1f9a-41fc-aa2e-43fd9fdb6224",
      "name": "IF - AI API unavailable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": $json.discordMessage\n}",
        "options": {}
      },
      "id": "6c26d5b4-90dc-495d-b479-4e058c4be3e0",
      "name": "Discord Notify - AI Unavailable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"status\": $json.status,\n  \"event\": $json.logEvent,\n  \"details\": $json.details\n}",
        "options": {}
      },
      "id": "51ad1b70-fa4f-4764-99e0-06e5a7ad1598",
      "name": "Respond - AI Unavailable",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1620,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "receiptDetected",
              "leftValue": "={{$json.receiptDetected}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62d7ad86-a0b3-4165-a9ed-b389d0805b89",
      "name": "IF - Receipt detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": $json.discordMessage\n}",
        "options": {}
      },
      "id": "0b4dfc0c-497c-482b-97fc-49e080e4e49d",
      "name": "Discord Notify - No Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"status\": $json.status,\n  \"event\": $json.logEvent,\n  \"details\": $json.details\n}",
        "options": {}
      },
      "id": "77ef125f-f46c-4bc4-a086-dcb275149683",
      "name": "Respond - No Receipt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1880,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hasMissingFields",
              "leftValue": "={{$json.hasMissingFields}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6a9a9e6-434b-45cd-babb-4ed88cb4f8c5",
      "name": "IF - Missing required fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}/values/{{$env.GOOGLE_SHEETS_SHEET_NAME}}:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [ $json.rowValues ]\n}",
        "options": {}
      },
      "id": "e0759111-e530-4236-80de-5d13eceda849",
      "name": "Sheets Append - Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": $json.discordMessage\n}",
        "options": {}
      },
      "id": "f90074ea-85e6-44ac-9fc1-8f158672d6d3",
      "name": "Discord Notify - Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"status\": $json.status,\n  \"event\": \"WroteToSheet\",\n  \"details\": $json.details,\n  \"missingFields\": $json.missingFields\n}",
        "options": {}
      },
      "id": "740920ad-c3ee-4902-aff8-cd22fec3aeac",
      "name": "Respond - Pending Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2380,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}/values/{{$env.GOOGLE_SHEETS_SHEET_NAME}}:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [ $json.rowValues ]\n}",
        "options": {}
      },
      "id": "5abb6c97-86b9-47a7-b8d8-a9b146cf4a2f",
      "name": "Sheets Append - Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, logEvent: 'Success; WroteToSheet' } }];"
      },
      "id": "e27726c2-29dc-4f4b-a9e6-9edbc08b6344",
      "name": "Add Success Log Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": $json.discordMessage\n}",
        "options": {}
      },
      "id": "d00b0180-1ca4-481e-a6bc-5a3d2832670e",
      "name": "Discord Notify - Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"status\": $json.status,\n  \"event\": $json.logEvent,\n  \"details\": $json.details\n}",
        "options": {}
      },
      "id": "bd175bda-daec-41ae-bc52-3c4709b991d4",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2620,
        680
      ]
    },
    {
      "parameters": {
        "content": "Set these in your n8n environment/config:\\n\\nLLM_BASE_URL=https://api.openai.com/v1   (any OpenAI-compatible endpoint)\\nLLM_API_KEY=your_key\\nLLM_MODEL=gpt-4o-mini                    (must be a vision-capable model)\\nDISCORD_LOG_WEBHOOK_URL=https://discord.com/api/webhooks/...\\nDISCORD_ACCOUNTANT_ROLE_ID=your_role_id\\nGOOGLE_SHEETS_SPREADSHEET_ID=your_google_sheet_id\\nGOOGLE_SHEETS_SHEET_NAME=Expenses\\nMONGO_LOG_COLLECTION=workflow_logs\\n\\nMongoDB credential in n8n should point to mongodb://admin:password@mongo:27017/expense_rpa?authSource=admin\\n\\nGoogle Sheets credential: create a Google Sheets OAuth2 API credential in n8n and attach it to the two 'Sheets Append' nodes.\\n\\nSheet column order must match rowValues order in the Code node.",
        "height": 340,
        "width": 540,
        "color": 5
      },
      "id": "0b3bd961-e1a6-4e23-9f0b-d1e840ed59ea",
      "name": "README - Environment Variables",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        -20
      ]
    },
    {
      "parameters": {
        "content": "Recommended Google Sheets columns (header row in this exact order):\\n\\nSubmittedDate | MessageTimestamp | DiscordUser | DiscordUserId | ReceiptId | Merchant | ReceiptDate | Category | Currency | TotalAmount | VATAmount | PaymentMethod | BusinessPurpose | Status | Details | Confidence | MessageId\\n\\nThis supports monthly budget reports, pivot tables and charts later without changing the n8n flow.",
        "height": 230,
        "width": 620,
        "color": 6
      },
      "id": "68214c08-f70d-49fe-a757-ae65e05027e7",
      "name": "README - Google Sheets Columns",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\nreturn [\n  {\n    json: {\n      eventType: \"SubmissionReceived\",\n      status: source.status || 'Received',\n      details: source.details || '',\n      discordUser: source.discordUser || '',\n      discordUserId: source.discordUserId || '',\n      messageId: source.messageId || '',\n      channelId: source.channelId || '',\n      messageTimestamp: source.messageTimestamp || '',\n      submittedDate: source.submittedDate || '',\n      receiptDetected: source.receiptDetected ?? null,\n      hasMissingFields: source.hasMissingFields ?? null,\n      missingFields: source.missingFields || source.inputMissingFields || [],\n      merchant: source.merchant || '',\n      receiptDate: source.receiptDate || '',\n      category: source.category || '',\n      currency: source.currency || '',\n      totalAmount: source.totalAmount || '',\n      vatAmount: source.vatAmount || '',\n      confidence: source.confidence || '',\n      logSource: 'n8n',\n      workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype',\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "66f9a88c-87c5-44d5-b0b0-485dbc300845",
      "name": "Prepare Mongo Log - SubmissionReceived",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        620
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{$env.MONGO_LOG_COLLECTION || 'workflow_logs'}}",
        "fields": "eventType,status,details,discordUser,discordUserId,messageId,channelId,messageTimestamp,submittedDate,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,vatAmount,confidence,logSource,workflowName,createdAt",
        "options": {}
      },
      "id": "6dd1d24c-e473-4787-b90b-4c820fca311c",
      "name": "MongoDB Insert - SubmissionReceived Log",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\nreturn [\n  {\n    json: {\n      eventType: ($json.logEvent || 'WorkflowEvent'),\n      status: source.status || 'Rejected',\n      details: source.details || '',\n      discordUser: source.discordUser || '',\n      discordUserId: source.discordUserId || '',\n      messageId: source.messageId || '',\n      channelId: source.channelId || '',\n      messageTimestamp: source.messageTimestamp || '',\n      submittedDate: source.submittedDate || '',\n      receiptDetected: source.receiptDetected ?? null,\n      hasMissingFields: source.hasMissingFields ?? null,\n      missingFields: source.missingFields || source.inputMissingFields || [],\n      merchant: source.merchant || '',\n      receiptDate: source.receiptDate || '',\n      category: source.category || '',\n      currency: source.currency || '',\n      totalAmount: source.totalAmount || '',\n      vatAmount: source.vatAmount || '',\n      confidence: source.confidence || '',\n      logSource: 'n8n',\n      workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype',\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "04776df8-4169-45da-af55-b8e11b825629",
      "name": "Prepare Mongo Log - AIUnavailable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{$env.MONGO_LOG_COLLECTION || 'workflow_logs'}}",
        "fields": "eventType,status,details,discordUser,discordUserId,messageId,channelId,messageTimestamp,submittedDate,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,vatAmount,confidence,logSource,workflowName,createdAt",
        "options": {}
      },
      "id": "32e63192-9153-473e-bf9d-ac6668e02e65",
      "name": "MongoDB Insert - AIUnavailable Log",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1560,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\nreturn [\n  {\n    json: {\n      eventType: \"AIResponseReceived\",\n      status: source.status || 'Info',\n      details: source.details || '',\n      discordUser: source.discordUser || '',\n      discordUserId: source.discordUserId || '',\n      messageId: source.messageId || '',\n      channelId: source.channelId || '',\n      messageTimestamp: source.messageTimestamp || '',\n      submittedDate: source.submittedDate || '',\n      receiptDetected: source.receiptDetected ?? null,\n      hasMissingFields: source.hasMissingFields ?? null,\n      missingFields: source.missingFields || source.inputMissingFields || [],\n      merchant: source.merchant || '',\n      receiptDate: source.receiptDate || '',\n      category: source.category || '',\n      currency: source.currency || '',\n      totalAmount: source.totalAmount || '',\n      vatAmount: source.vatAmount || '',\n      confidence: source.confidence || '',\n      logSource: 'n8n',\n      workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype',\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "4d0a8a32-29f6-48ef-a419-eba15fdd5664",
      "name": "Prepare Mongo Log - AIResponseReceived",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        700
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{$env.MONGO_LOG_COLLECTION || 'workflow_logs'}}",
        "fields": "eventType,status,details,discordUser,discordUserId,messageId,channelId,messageTimestamp,submittedDate,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,vatAmount,confidence,logSource,workflowName,createdAt",
        "options": {}
      },
      "id": "464cac4d-ab71-42a9-8645-c358dc3037ee",
      "name": "MongoDB Insert - AIResponseReceived Log",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1840,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\nreturn [\n  {\n    json: {\n      eventType: ($json.logEvent || 'WorkflowEvent'),\n      status: source.status || 'Rejected',\n      details: source.details || '',\n      discordUser: source.discordUser || '',\n      discordUserId: source.discordUserId || '',\n      messageId: source.messageId || '',\n      channelId: source.channelId || '',\n      messageTimestamp: source.messageTimestamp || '',\n      submittedDate: source.submittedDate || '',\n      receiptDetected: source.receiptDetected ?? null,\n      hasMissingFields: source.hasMissingFields ?? null,\n      missingFields: source.missingFields || source.inputMissingFields || [],\n      merchant: source.merchant || '',\n      receiptDate: source.receiptDate || '',\n      category: source.category || '',\n      currency: source.currency || '',\n      totalAmount: source.totalAmount || '',\n      vatAmount: source.vatAmount || '',\n      confidence: source.confidence || '',\n      logSource: 'n8n',\n      workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype',\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "699cb3fc-f53b-4732-93e6-06df398e6a6e",
      "name": "Prepare Mongo Log - NoReceiptRegistered",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        120
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{$env.MONGO_LOG_COLLECTION || 'workflow_logs'}}",
        "fields": "eventType,status,details,discordUser,discordUserId,messageId,channelId,messageTimestamp,submittedDate,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,vatAmount,confidence,logSource,workflowName,createdAt",
        "options": {}
      },
      "id": "76c9d517-1cbd-456d-af63-43cd5f6a62ac",
      "name": "MongoDB Insert - NoReceiptRegistered Log",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1860,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\nreturn [\n  {\n    json: {\n      eventType: \"MissingFields; PendingReview\",\n      status: source.status || 'Pending Review',\n      details: source.details || '',\n      discordUser: source.discordUser || '',\n      discordUserId: source.discordUserId || '',\n      messageId: source.messageId || '',\n      channelId: source.channelId || '',\n      messageTimestamp: source.messageTimestamp || '',\n      submittedDate: source.submittedDate || '',\n      receiptDetected: source.receiptDetected ?? null,\n      hasMissingFields: source.hasMissingFields ?? null,\n      missingFields: source.missingFields || source.inputMissingFields || [],\n      merchant: source.merchant || '',\n      receiptDate: source.receiptDate || '',\n      category: source.category || '',\n      currency: source.currency || '',\n      totalAmount: source.totalAmount || '',\n      vatAmount: source.vatAmount || '',\n      confidence: source.confidence || '',\n      logSource: 'n8n',\n      workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype',\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "6af34ea1-878a-445f-a63b-84be2a3d70a4",
      "name": "Prepare Mongo Log - PendingReview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        240
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{$env.MONGO_LOG_COLLECTION || 'workflow_logs'}}",
        "fields": "eventType,status,details,discordUser,discordUserId,messageId,channelId,messageTimestamp,submittedDate,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,vatAmount,confidence,logSource,workflowName,createdAt",
        "options": {}
      },
      "id": "811735ae-3087-4246-913a-7760e352a856",
      "name": "MongoDB Insert - PendingReview Log",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2120,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\nreturn [\n  {\n    json: {\n      eventType: ($json.logEvent || 'WorkflowEvent'),\n      status: source.status || 'Approved',\n      details: source.details || '',\n      discordUser: source.discordUser || '',\n      discordUserId: source.discordUserId || '',\n      messageId: source.messageId || '',\n      channelId: source.channelId || '',\n      messageTimestamp: source.messageTimestamp || '',\n      submittedDate: source.submittedDate || '',\n      receiptDetected: source.receiptDetected ?? null,\n      hasMissingFields: source.hasMissingFields ?? null,\n      missingFields: source.missingFields || source.inputMissingFields || [],\n      merchant: source.merchant || '',\n      receiptDate: source.receiptDate || '',\n      category: source.category || '',\n      currency: source.currency || '',\n      totalAmount: source.totalAmount || '',\n      vatAmount: source.vatAmount || '',\n      confidence: source.confidence || '',\n      logSource: 'n8n',\n      workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype',\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "9e60587a-ead1-4505-883f-edd16e4a03c3",
      "name": "Prepare Mongo Log - Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        900
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{$env.MONGO_LOG_COLLECTION || 'workflow_logs'}}",
        "fields": "eventType,status,details,discordUser,discordUserId,messageId,channelId,messageTimestamp,submittedDate,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,vatAmount,confidence,logSource,workflowName,createdAt",
        "options": {}
      },
      "id": "f3f6c116-b26f-4554-a4b0-ae7f4c08c746",
      "name": "MongoDB Insert - Success Log",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2580,
        900
      ]
    },
    {
      "parameters": {
        "content": "MongoDB logging added:\\n\\nThe workflow now writes operational log events to MongoDB as side branches, so logging does not break the main expense flow.\\n\\nLogged events include:\\n- SubmissionReceived\\n- AIUnavailable\\n- AIResponseReceived\\n- NoReceiptRegistered\\n- MissingFields / PendingReview\\n- Success / WroteToSheet\\n\\nConfigure a MongoDB credential in n8n that connects to the Docker Mongo service.",
        "height": 300,
        "width": 560,
        "color": 7
      },
      "id": "26bd441a-a0f8-418d-89b2-869dc2847e71",
      "name": "README - MongoDB Logging",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -220
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Discord Receipt Submission": {
      "main": [
        [
          {
            "node": "Normalize Discord Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Discord Input": {
      "main": [
        [
          {
            "node": "AI Extraction - LLM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Mongo Log - SubmissionReceived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extraction - LLM": {
      "main": [
        [
          {
            "node": "Parse AI Response and Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response and Validate": {
      "main": [
        [
          {
            "node": "IF - AI API unavailable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - AI API unavailable?": {
      "main": [
        [
          {
            "node": "Discord Notify - AI Unavailable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Mongo Log - AIUnavailable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Receipt detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - AI Unavailable": {
      "main": [
        [
          {
            "node": "Respond - AI Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Receipt detected?": {
      "main": [
        [
          {
            "node": "IF - Missing required fields?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Mongo Log - AIResponseReceived",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Notify - No Receipt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Mongo Log - NoReceiptRegistered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - No Receipt": {
      "main": [
        [
          {
            "node": "Respond - No Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Missing required fields?": {
      "main": [
        [
          {
            "node": "Sheets Append - Pending Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Mongo Log - PendingReview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets Append - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Append - Pending Review": {
      "main": [
        [
          {
            "node": "Discord Notify - Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - Pending Review": {
      "main": [
        [
          {
            "node": "Respond - Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Append - Approved": {
      "main": [
        [
          {
            "node": "Add Success Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Success Log Event": {
      "main": [
        [
          {
            "node": "Discord Notify - Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Mongo Log - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - Success": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mongo Log - SubmissionReceived": {
      "main": [
        [
          {
            "node": "MongoDB Insert - SubmissionReceived Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mongo Log - AIUnavailable": {
      "main": [
        [
          {
            "node": "MongoDB Insert - AIUnavailable Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mongo Log - AIResponseReceived": {
      "main": [
        [
          {
            "node": "MongoDB Insert - AIResponseReceived Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mongo Log - NoReceiptRegistered": {
      "main": [
        [
          {
            "node": "MongoDB Insert - NoReceiptRegistered Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mongo Log - PendingReview": {
      "main": [
        [
          {
            "node": "MongoDB Insert - PendingReview Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mongo Log - Success": {
      "main": [
        [
          {
            "node": "MongoDB Insert - Success Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1442b5dd-386f-47f6-8b5d-c447867c7c0a",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Prototype n8n workflow for Discord receipt submission, OpenAI-compatible LLM extraction, validation, Google Sheets append, MongoDB logging, and Discord notifications."
  },
  "id": "expense-management-rpa-prototype",
  "tags": []
}