workflows/expense_management_n8n_workflow_MOCK_AI.json
{
  "name": "Automated Expense Management - MOCK AI (Google Sheets Integration Test)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-submission-mock",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d11e2807-e58f-474a-89e9-f96382ef13fa",
      "name": "Webhook - Discord Receipt Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "content": "MOCK AI variant of the main workflow.\n\nThe LLM HTTP call has been replaced with a Code node that returns a hardcoded, valid receipt — so this workflow exercises only the Google Sheets + Discord + Mongo integration path, with no LLM API key, billing, or network dependency required.\n\nWebhook path is /webhook/expense-submission-mock\n(so it does not collide with the real workflow).\n\nTo trigger different branches, override fields in the Discord bot's POST body:\n  mockScenario: \"approved\" (default) | \"pending\" | \"rejected\" | \"unavailable\" | \"sheetfail\" | \"sheetfail-pending\"\n\nExpected POST body from your Discord bot:\n{\n  \"discordUser\": \"Paul Krus\",\n  \"discordUserId\": \"123456789\",\n  \"messageTimestamp\": \"2026-05-25T14:14:34.000Z\",\n  \"submittedDate\": \"2026-05-25\",\n  \"messageId\": \"discord-message-id\",\n  \"channelId\": \"discord-channel-id\",\n  \"imageBase64\": \"<can be empty in mock mode>\",\n  \"mimeType\": \"image/jpeg\",\n  \"mockScenario\": \"approved\"\n}",
        "height": 420,
        "width": 540,
        "color": 4
      },
      "id": "d7e2ae9a-6169-4c8c-908b-ca22362ace1f",
      "name": "README - Expected Input (MOCK)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $json.body ?? $json;\n\n// Bot message guard - discard if message is from a bot\nif (body.authorIsBot === true) {\n  return [];\n}\n\nconst requiredInput = ['discordUser', 'discordUserId', 'messageTimestamp', 'submittedDate'];\nconst missingInput = requiredInput.filter((key) => !body[key]);\n\nreturn [{\n  json: {\n    discordUser: body.discordUser || 'Unknown user',\n    discordUserId: body.discordUserId || '',\n    messageTimestamp: body.messageTimestamp || new Date().toISOString(),\n    submittedDate: body.submittedDate || new Date().toISOString().slice(0, 10),\n    messageId: body.messageId || '',\n    channelId: body.channelId || '',\n    imageBase64: body.imageBase64 || '',\n    mimeType: body.mimeType || 'image/jpeg',\n    mockScenario: (body.mockScenario || 'approved').toLowerCase(),\n    inputMissingFields: missingInput\n  }\n}];\n"
      },
      "id": "a6b48387-c986-4140-806f-5fc139c73202",
      "name": "Normalize Discord Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "SubmissionReceived",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "=[MOCK] Submission accepted from {{ $json.discordUser }} (scenario: {{ $json.mockScenario }})"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-submission-received",
      "name": "Log - SubmissionReceived",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        260,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// MOCK AI EXTRACTION\n// Returns a response shaped exactly like an OpenAI-compatible /chat/completions reply\n// so that the downstream \"Parse AI Response and Validate\" node works unchanged.\n//\n// The scenario is read from the original webhook body (via Normalize Discord Input):\n//   approved (default) -> full valid receipt -> goes to Sheets Append (Approved)\n//   pending            -> missing required fields -> goes to Sheets Append (Pending Review)\n//   rejected           -> ReceiptDetected: false -> goes to No Receipt branch (no sheet write)\n//   unavailable        -> simulates the LLM API being down -> goes to AI Unavailable branch\n//   sheetfail          -> valid receipt (like approved), but the real Sheets Append is bypassed\n//                         by a downstream mock IF/Code so the SheetAppendFailed branch fires\n//                         (hits the Approved fail-IF on the no-missing-fields path)\n//   sheetfail-pending  -> receipt with missing required fields (like pending), Sheets Append\n//                         is bypassed by the same downstream mock IF/Code so the\n//                         SheetAppendFailed branch on the Pending path fires\n\nconst input = $('Normalize Discord Input').first().json;\nconst scenario = (input.mockScenario || 'approved').toLowerCase();\n\nif (scenario === 'unavailable') {\n  // Mimic the shape the Parse node interprets as apiUnavailable\n  return [{ json: { error: { message: '[MOCK] LLM endpoint unavailable' } } }];\n}\n\nlet receipt;\n\nif (scenario === 'rejected') {\n  receipt = {\n    ReceiptDetected: false,\n    Merchant: null,\n    ReceiptDate: null,\n    Currency: null,\n    TotalAmount: null,\n    VATAmount: null,\n    VATIncluded: null,\n    Category: null,\n    PaymentMethod: null,\n    ReceiptId: null,\n    BusinessPurpose: null,\n    Confidence: 0.0,\n    Notes: '[MOCK] Image is not a receipt.'\n  };\n} else if (scenario === 'pending') {\n  // Valid receipt but with missing required fields (Currency + VATAmount blank)\n  receipt = {\n    ReceiptDetected: true,\n    Merchant: 'Mock Cafe',\n    ReceiptDate: '28-05-2026',\n    Currency: null,\n    TotalAmount: 89.0,\n    VATAmount: null,\n    VATIncluded: 'No',\n    Category: 'Food / Meals',\n    PaymentMethod: 'Company Card',\n    ReceiptId: 'MOCK-PENDING-001',\n    BusinessPurpose: 'Mock pending review scenario',\n    Confidence: 0.42,\n    Notes: '[MOCK] Some required fields are intentionally missing.'\n  };\n} else if (scenario === 'sheetfail-pending') {\n  // missing required fields (Currency + VATAmount) so it routes to the Pending\n  // path; the downstream mock IF/Code then injects the Sheets-write failure.\n  receipt = {\n    ReceiptDetected: true,\n    Merchant: 'Mock Sheet-Fail Cafe (Pending)',\n    ReceiptDate: '28-05-2026',\n    Currency: null,\n    TotalAmount: 75.50,\n    VATAmount: null,\n    VATIncluded: 'No',\n    Category: 'Food / Meals',\n    PaymentMethod: 'Company Card',\n    ReceiptId: 'MOCK-SHEETFAIL-PENDING-001',\n    BusinessPurpose: 'Mock sheet-write failure on Pending path',\n    Confidence: 0.42,\n    Notes: '[MOCK] Pending-shaped receipt — Sheets Append will be mocked to fail on the Pending path.'\n  };\n} else if (scenario === 'sheetfail') {\n  // valid receipt — the failure is injected downstream by a mock IF/Code\n  // node so the real Google Sheets call is bypassed entirely.\n  receipt = {\n    ReceiptDetected: true,\n    Merchant: 'Mock Sheet-Fail Diner',\n    ReceiptDate: '28-05-2026',\n    Currency: 'DKK',\n    TotalAmount: 99.00,\n    VATAmount: 19.80,\n    VATIncluded: 'Yes',\n    Category: 'Food / Meals',\n    PaymentMethod: 'Company Card',\n    ReceiptId: 'MOCK-SHEETFAIL-001',\n    BusinessPurpose: 'Mock sheet-write failure scenario',\n    Confidence: 0.95,\n    Notes: '[MOCK] Valid receipt — Sheets Append will be mocked to fail downstream.'\n  };\n} else {\n  // approved (default) — full valid receipt\n  receipt = {\n    ReceiptDetected: true,\n    Merchant: 'Mock Coffee Roasters',\n    ReceiptDate: '28-05-2026',\n    Currency: 'DKK',\n    TotalAmount: 125.50,\n    VATAmount: 25.10,\n    VATIncluded: 'Yes',\n    Category: 'Food / Meals',\n    PaymentMethod: 'Company Card',\n    ReceiptId: 'MOCK-APPROVED-001',\n    BusinessPurpose: 'Mock approved scenario — Google Sheets integration test',\n    Confidence: 0.99,\n    Notes: '[MOCK] Hardcoded valid receipt, no LLM was called.'\n  };\n}\n\n// Shape matches OpenAI/Anthropic-compatible /chat/completions response\nreturn [{\n  json: {\n    id: 'mock-cmpl-' + Date.now(),\n    object: 'chat.completion',\n    model: 'mock-vision-model',\n    choices: [\n      {\n        index: 0,\n        finish_reason: 'stop',\n        message: {\n          role: 'assistant',\n          content: JSON.stringify(receipt)\n        }\n      }\n    ],\n    usage: { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 }\n  }\n}];\n"
      },
      "id": "d0b0e2b2-877d-4cdc-8c38-f77bb750ac00",
      "name": "Mock AI Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst original = $('Normalize Discord Input').first().json;\nconst response = $json;\n\nfunction safeString(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction parseLlmJson(resp) {\n  if (resp.error || resp.message?.includes?.('Error')) {\n    return { apiUnavailable: true, invalidJson: false, parseError: null, aiRawText: '', extracted: null };\n  }\n  const text =\n    resp.choices?.[0]?.message?.content ??\n    resp.body?.choices?.[0]?.message?.content ??\n    resp.data?.choices?.[0]?.message?.content ??\n    '';\n  if (!text) {\n    return { apiUnavailable: true, invalidJson: false, parseError: null, aiRawText: '', extracted: null };\n  }\n  try {\n    const cleaned = text.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\n    return { apiUnavailable: false, invalidJson: false, parseError: null, aiRawText: text, extracted: JSON.parse(cleaned) };\n  } catch (error) {\n    return { apiUnavailable: false, invalidJson: true, parseError: error.message, aiRawText: text, extracted: { ReceiptDetected: false } };\n  }\n}\n\nconst parsed = parseLlmJson(response);\n\nif (parsed.apiUnavailable) {\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: true,\n      receiptDetected: false,\n      logEvent: 'AIUnavailable',\n      logLabel: 'error',\n      status: 'Rejected',\n      details: '[MOCK] LLM endpoint unreachable or returned no usable response.',\n      discordMessage: `⚠️ <@${original.discordUserId}> [MOCK] your receipt could not be processed because the AI service is unavailable. Please try again later.`\n    }\n  }];\n}\n\nif (parsed.invalidJson) {\n  const rawHead = (parsed.aiRawText || '').slice(0, 200).replace(/\\s+/g, ' ');\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: false,\n      receiptDetected: false,\n      logEvent: 'AIResponseInvalid',\n      logLabel: 'error',\n      status: 'Rejected',\n      details: `[MOCK] AI returned non-JSON output: ${parsed.parseError}. Raw head: ${rawHead}`,\n      aiRawText: parsed.aiRawText,\n      discordMessage: `❌ <@${original.discordUserId}> [MOCK] the AI response was unreadable. Please re-upload the receipt.`\n    }\n  }];\n}\n\nconst ai = parsed.extracted || {};\nconst receiptDetected = ai.ReceiptDetected === true;\n\nif (!receiptDetected) {\n  return [{\n    json: {\n      ...original,\n      apiUnavailable: false,\n      receiptDetected: false,\n      logEvent: 'NoReceiptDetected',\n      logLabel: 'warning',\n      status: 'Rejected',\n      details: `[MOCK] Image classified as non-receipt. AI notes: ${safeString(ai.Notes) || 'no notes provided'}`,\n      aiRawText: parsed.aiRawText,\n      discordMessage: `❌ <@${original.discordUserId}> [MOCK] no valid receipt was detected. Please send a new image of the receipt.`\n    }\n  }];\n}\n\nconst merged = {\n  discordUser: original.discordUser,\n  discordUserId: original.discordUserId,\n  messageTimestamp: original.messageTimestamp,\n  submittedDate: original.submittedDate,\n  messageId: original.messageId,\n  channelId: original.channelId,\n  merchant: safeString(ai.Merchant),\n  receiptDate: safeString(ai.ReceiptDate),\n  currency: safeString(ai.Currency),\n  totalAmount: ai.TotalAmount ?? '',\n  vatAmount: ai.VATAmount ?? '',\n  vatIncluded: safeString(ai.VATIncluded),\n  category: safeString(ai.Category),\n  paymentMethod: safeString(ai.PaymentMethod),\n  receiptId: safeString(ai.ReceiptId),\n  businessPurpose: safeString(ai.BusinessPurpose),\n  confidence: ai.Confidence ?? '',\n  notes: safeString(ai.Notes)\n};\n\nconst requiredFields = [\n  ['Merchant', merged.merchant],\n  ['Receipt Date', merged.receiptDate],\n  ['Currency', merged.currency],\n  ['Total Amount', merged.totalAmount],\n  ['VAT Amount', merged.vatAmount],\n  ['Category', merged.category],\n  ['Payment Method', merged.paymentMethod]\n];\n\nconst missingFields = requiredFields\n  .filter(([_, value]) => value === '' || value === null || value === undefined)\n  .map(([field]) => field);\n\nconst hasMissingFields = missingFields.length > 0;\nconst status = hasMissingFields ? 'Pending Review' : 'Approved by Bot';\n\nconst aiSummary = `Merchant: ${merged.merchant || '(blank)'}, Total: ${merged.totalAmount === '' ? '(blank)' : merged.totalAmount} ${merged.currency || ''}, Date: ${merged.receiptDate || '(blank)'}, Confidence: ${merged.confidence === '' ? '(blank)' : merged.confidence}`;\nconst aiResponseDetails = `[MOCK] Receipt parsed — ${aiSummary}`;\nconst missingDetails = `[MOCK] Routed to Pending Review. Missing fields: ${missingFields.join(', ')}`;\n\nconst discordMessage = hasMissingFields\n  ? `🟡 <@${merged.discordUserId}> [MOCK] your receipt was detected, but it is missing required data.\\n\\n**Status:** Pending Review\\n**Missing:** ${missingFields.join(', ')}\\n\\nPlease re-upload the receipt with the missing information.`\n  : `✅ <@${merged.discordUserId}> [MOCK] your receipt was processed successfully.\\n\\n**Status:** Approved by Bot\\n**Merchant:** ${merged.merchant}\\n**Amount:** ${merged.totalAmount} ${merged.currency}\\n**Category:** ${merged.category}`;\n\nreturn [{\n  json: {\n    ...merged,\n    apiUnavailable: false,\n    receiptDetected: true,\n    hasMissingFields,\n    missingFields,\n    status,\n    details: aiResponseDetails,\n    missingDetails,\n    aiRawText: parsed.aiRawText,\n    logEvent: 'AIResponseReceived',\n    logLabel: 'info',\n    discordMessage\n  }\n}];\n"
      },
      "id": "7624a547-0bf0-40e6-9d98-b9c14dd7806b",
      "name": "Parse AI Response and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "apiUnavailable",
              "leftValue": "={{$json.apiUnavailable}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9810508d-1f9a-41fc-aa2e-43fd9fdb6224",
      "name": "IF - AI API unavailable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "error",
            "event": "AIUnavailable",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "={{ $json.details }}",
            "N8NStackTrace": "={{ $json.error?.message || $json.message || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N8NStackTrace",
              "displayName": "N8NStackTrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-ai-unavailable",
      "name": "Log - AIUnavailable",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1340,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6c26d5b4-90dc-495d-b479-4e058c4be3e0",
      "name": "Discord Notify - AI Unavailable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: false, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details }) }}",
        "options": {}
      },
      "id": "51ad1b70-fa4f-4764-99e0-06e5a7ad1598",
      "name": "Respond - AI Unavailable",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "receiptDetected",
              "leftValue": "={{$json.receiptDetected}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62d7ad86-a0b3-4165-a9ed-b389d0805b89",
      "name": "IF - Receipt detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        520
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "={{ $json.logLabel }}",
            "event": "={{ $json.logEvent }}",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "={{ $json.details }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-no-receipt",
      "name": "Log - NoReceiptDetected",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b4dfc0c-497c-482b-97fc-49e080e4e49d",
      "name": "Discord Notify - No Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: false, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details }) }}",
        "options": {}
      },
      "id": "77ef125f-f46c-4bc4-a086-dcb275149683",
      "name": "Respond - No Receipt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "AIResponseReceived",
            "messageId": "={{ $json.messageId }}",
            "discordUser": "={{ $json.discordUser }}",
            "messageTimestamp": "={{ $json.messageTimestamp }}",
            "details": "={{ $json.details }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-ai-response",
      "name": "Log - AIResponseReceived",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1640,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hasMissingFields",
              "leftValue": "={{ $('Parse AI Response and Validate').item.json.hasMissingFields }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6a9a9e6-434b-45cd-babb-4ed88cb4f8c5",
      "name": "IF - Missing required fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1900,
        680
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Receipts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee Name": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "Submitted Date": "={{ $('Parse AI Response and Validate').item.json.submittedDate }}",
            "Message Timestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "Receipt Date": "={{ $('Parse AI Response and Validate').item.json.receiptDate }}",
            "Merchant": "={{ $('Parse AI Response and Validate').item.json.merchant }}",
            "Expense Category": "={{ $('Parse AI Response and Validate').item.json.category }}",
            "Payment Method": "={{ $('Parse AI Response and Validate').item.json.paymentMethod }}",
            "Currency": "={{ $('Parse AI Response and Validate').item.json.currency }}",
            "Total Amount": "={{ $('Parse AI Response and Validate').item.json.totalAmount }}",
            "VAT Included": "={{ $('Parse AI Response and Validate').item.json.vatIncluded }}",
            "VAT Amount": "={{ $('Parse AI Response and Validate').item.json.vatAmount }}",
            "Status": "={{ $('Parse AI Response and Validate').item.json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Timestamp",
              "displayName": "Message Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt Date",
              "displayName": "Receipt Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Merchant",
              "displayName": "Merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense Category",
              "displayName": "Expense Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT Included",
              "displayName": "VAT Included",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT Amount",
              "displayName": "VAT Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e0759111-e530-4236-80de-5d13eceda849",
      "name": "Sheets Append - Pending Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2120,
        580
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "SheetAppendSucceeded",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "=[MOCK] Appended row to Receipts as Pending Review. Range: {{ $json.updates?.updatedRange || $json.tableRange || 'unknown' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-pending-wrote",
      "name": "Log - SheetAppendSucceeded (Pending)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2340,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Parse AI Response and Validate').item.json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f90074ea-85e6-44ac-9fc1-8f158672d6d3",
      "name": "Discord Notify - Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, mock: true, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details, missingFields: $('Parse AI Response and Validate').item.json.missingFields }) }}",
        "options": {}
      },
      "id": "740920ad-c3ee-4902-aff8-cd22fec3aeac",
      "name": "Respond - Pending Review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2560,
        720
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Receipts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee Name": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "Submitted Date": "={{ $('Parse AI Response and Validate').item.json.submittedDate }}",
            "Message Timestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "Receipt Date": "={{ $('Parse AI Response and Validate').item.json.receiptDate }}",
            "Merchant": "={{ $('Parse AI Response and Validate').item.json.merchant }}",
            "Expense Category": "={{ $('Parse AI Response and Validate').item.json.category }}",
            "Payment Method": "={{ $('Parse AI Response and Validate').item.json.paymentMethod }}",
            "Currency": "={{ $('Parse AI Response and Validate').item.json.currency }}",
            "Total Amount": "={{ $('Parse AI Response and Validate').item.json.totalAmount }}",
            "VAT Included": "={{ $('Parse AI Response and Validate').item.json.vatIncluded }}",
            "VAT Amount": "={{ $('Parse AI Response and Validate').item.json.vatAmount }}",
            "Status": "={{ $('Parse AI Response and Validate').item.json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Timestamp",
              "displayName": "Message Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt Date",
              "displayName": "Receipt Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Merchant",
              "displayName": "Merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense Category",
              "displayName": "Expense Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT Included",
              "displayName": "VAT Included",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT Amount",
              "displayName": "VAT Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5abb6c97-86b9-47a7-b8d8-a9b146cf4a2f",
      "name": "Sheets Append - Approved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2120,
        860
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "SheetAppendSucceeded",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "=[MOCK] Appended row to Receipts as Approved by Bot. Range: {{ $json.updates?.updatedRange || $json.tableRange || 'unknown' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-success",
      "name": "Log - SheetAppendSucceeded (Approved)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2340,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Parse AI Response and Validate').item.json.discordMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d00b0180-1ca4-481e-a6bc-5a3d2832670e",
      "name": "Discord Notify - Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        860
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, mock: true, status: $('Parse AI Response and Validate').item.json.status, event: $('Parse AI Response and Validate').item.json.logEvent, details: $('Parse AI Response and Validate').item.json.details }) }}",
        "options": {}
      },
      "id": "bd175bda-daec-41ae-bc52-3c4709b991d4",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2780,
        860
      ]
    },
    {
      "parameters": {
        "content": "Mock-mode notes:\n\nNo LLM env vars are needed for this workflow (LLM_BASE_URL / LLM_API_KEY / LLM_MODEL are unused).\n\nStill required:\n  GOOGLE_SHEETS_SPREADSHEET_ID\n  DISCORD_LOG_WEBHOOK_URL\n  MongoDB credential in n8n: mongodb://admin:password@mongo:27017/expense_rpa?authSource=admin\n  Google Sheets credential (reattach 'Google Sheets OAuth2' on both Sheets Append nodes)\n\nSheet columns (Receipts tab — Sheets Append nodes map by header name):\nEmployee Name | Submitted Date | Message Timestamp | Receipt Date | Merchant\n| Expense Category | Payment Method | Currency\n| Total Amount | VAT Included | VAT Amount | Status\n\nLog event taxonomy (see Mongo `logs` collection):\n  SubmissionReceived    (info)\n  AIExtractionRequested (info)\n  AIUnavailable         (error)\n  AIResponseInvalid     (error)\n  AIResponseReceived    (info)\n  NoReceiptDetected     (warning)\n  MissingRequiredFields (warning)\n  SheetAppendSucceeded  (info)\n  SheetAppendFailed     (error)\n  WorkflowCompleted     (info)\n\nDocument shape per log (enforced by the logging subworkflow):\n  label, event, logTimestamp, messageId,\n  discordUser, messageTimestamp, details,\n  N8NStackTrace (only on errors)\n\nIMPORTANT: Import the Logging Subworkflow first,\nthen replace Pg6WVXXoo0lun2yr in every Log - * node\nwith its workflow ID from the n8n URL.\n\nQuick smoke test (approved path):\ncurl -X POST http://localhost:5678/webhook/expense-submission-mock \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"discordUser\":\"Test\",\"discordUserId\":\"1\",\"messageTimestamp\":\"2026-05-28T10:00:00.000Z\",\"submittedDate\":\"2026-05-28\",\"mockScenario\":\"approved\"}'\n\nSheet-write failure test — Approved path (no real Sheets call made):\ncurl -X POST http://localhost:5678/webhook/expense-submission-mock \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"discordUser\":\"Test\",\"discordUserId\":\"1\",\"messageTimestamp\":\"2026-05-28T10:00:00.000Z\",\"submittedDate\":\"2026-05-28\",\"mockScenario\":\"sheetfail\"}'\n\nSheet-write failure test — Pending path (no real Sheets call made):\ncurl -X POST http://localhost:5678/webhook/expense-submission-mock \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"discordUser\":\"Test\",\"discordUserId\":\"1\",\"messageTimestamp\":\"2026-05-28T10:00:00.000Z\",\"submittedDate\":\"2026-05-28\",\"mockScenario\":\"sheetfail-pending\"}'",
        "height": 460,
        "width": 560,
        "color": 5
      },
      "id": "0b3bd961-e1a6-4e23-9f0b-d1e840ed59ea",
      "name": "README - Mock Mode",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        -180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sheets-error-pending",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sheets-pending-error",
      "name": "Sheets Write Failed? (Pending)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2120,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "error",
            "event": "SheetAppendFailed",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "[MOCK] Failed to append Pending Review row to Google Sheets.",
            "N8NStackTrace": "={{ $json.error?.message || $json.error || $json.message || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N8NStackTrace",
              "displayName": "N8NStackTrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-sheets-pending-error",
      "name": "Log - SheetAppendFailed (Pending)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2340,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ '<@' + $('Parse AI Response and Validate').item.json.discordUserId + '> ⚠️ [MOCK] Your receipt was processed but could not be saved to the expense sheet. Please contact the accountant.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-sheets-pending-error",
      "name": "Discord Notify - SheetWriteFailed (Pending)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sheets-error-approved",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sheets-approved-error",
      "name": "Sheets Write Failed? (Approved)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2120,
        760
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "error",
            "event": "SheetAppendFailed",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "[MOCK] Failed to append Approved by Bot row to Google Sheets.",
            "N8NStackTrace": "={{ $json.error?.message || $json.error || $json.message || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N8NStackTrace",
              "displayName": "N8NStackTrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-sheets-approved-error",
      "name": "Log - SheetAppendFailed (Approved)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2340,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ '<@' + $('Parse AI Response and Validate').item.json.discordUserId + '> ⚠️ [MOCK] Your receipt was processed but could not be saved to the expense sheet. Please contact the accountant.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-sheets-approved-error",
      "name": "Discord Notify - SheetWriteFailed (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        760
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "AIExtractionRequested",
            "messageId": "={{ $('Normalize Discord Input').item.json.messageId }}",
            "discordUser": "={{ $('Normalize Discord Input').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Normalize Discord Input').item.json.messageTimestamp }}",
            "details": "=[MOCK] Calling mock AI extraction for scenario '{{ $('Normalize Discord Input').item.json.mockScenario }}' (no LLM invoked)"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-ai-extraction-requested",
      "name": "Log - AIExtractionRequested",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "warning",
            "event": "MissingRequiredFields",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "={{ $('Parse AI Response and Validate').item.json.missingDetails }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-missing-fields",
      "name": "Log - MissingRequiredFields",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2020,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "[MOCK] Submission halted — AI unavailable. Final status: Rejected."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-ai-unavailable",
      "name": "Log - WorkflowCompleted (AI Unavailable)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1450,
        380
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "=[MOCK] Submission halted — {{ $('Parse AI Response and Validate').item.json.logEvent }}. Final status: Rejected."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-no-receipt",
      "name": "Log - WorkflowCompleted (No Receipt)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1710,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "[MOCK] Submission processed end-to-end. Final status: Pending Review."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-pending",
      "name": "Log - WorkflowCompleted (Pending)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2450,
        800
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pg6WVXXoo0lun2yr",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "label": "info",
            "event": "WorkflowCompleted",
            "messageId": "={{ $('Parse AI Response and Validate').item.json.messageId }}",
            "discordUser": "={{ $('Parse AI Response and Validate').item.json.discordUser }}",
            "messageTimestamp": "={{ $('Parse AI Response and Validate').item.json.messageTimestamp }}",
            "details": "[MOCK] Submission processed end-to-end. Final status: Approved by Bot."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordUser",
              "displayName": "discordUser",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "messageTimestamp",
              "displayName": "messageTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "log-completed-success",
      "name": "Log - WorkflowCompleted (Approved)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2670,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mock-sheets-fail-pending",
              "leftValue": "={{ $('Normalize Discord Input').item.json.mockScenario }}",
              "rightValue": "sheetfail",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "name": "filter.operator.startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-mock-sheets-fail-pending",
      "name": "IF - Mock Force Sheets Failure? (Pending)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// MOCK: emit a payload with $json.error set so the downstream\n// \"Sheets Write Failed? (Pending)\" IF routes to the SheetAppendFailed branch.\n// No real Google Sheets call happens on this path.\nreturn [{\n  json: {\n    error: '[MOCK] Forced Google Sheets write failure for testing.'\n  }\n}];\n"
      },
      "id": "code-mock-sheets-error-pending",
      "name": "Emit Mock Sheet Error (Pending)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mock-sheets-fail-approved",
              "leftValue": "={{ $('Normalize Discord Input').item.json.mockScenario }}",
              "rightValue": "sheetfail",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "name": "filter.operator.startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-mock-sheets-fail-approved",
      "name": "IF - Mock Force Sheets Failure? (Approved)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// MOCK: emit a payload with $json.error set so the downstream\n// \"Sheets Write Failed? (Approved)\" IF routes to the SheetAppendFailed branch.\n// No real Google Sheets call happens on this path.\nreturn [{\n  json: {\n    error: '[MOCK] Forced Google Sheets write failure for testing.'\n  }\n}];\n"
      },
      "id": "code-mock-sheets-error-approved",
      "name": "Emit Mock Sheet Error (Approved)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Discord Receipt Submission": {
      "main": [
        [
          {
            "node": "Normalize Discord Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Discord Input": {
      "main": [
        [
          {
            "node": "Log - SubmissionReceived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - SubmissionReceived": {
      "main": [
        [
          {
            "node": "Log - AIExtractionRequested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - AIExtractionRequested": {
      "main": [
        [
          {
            "node": "Mock AI Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock AI Extraction": {
      "main": [
        [
          {
            "node": "Parse AI Response and Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response and Validate": {
      "main": [
        [
          {
            "node": "IF - AI API unavailable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - AI API unavailable?": {
      "main": [
        [
          {
            "node": "Log - AIUnavailable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notify - AI Unavailable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Receipt detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - AI Unavailable": {
      "main": [
        [
          {
            "node": "Log - WorkflowCompleted (AI Unavailable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - WorkflowCompleted (AI Unavailable)": {
      "main": [
        [
          {
            "node": "Respond - AI Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Receipt detected?": {
      "main": [
        [
          {
            "node": "Log - AIResponseReceived",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - NoReceiptDetected",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notify - No Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - No Receipt": {
      "main": [
        [
          {
            "node": "Log - WorkflowCompleted (No Receipt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - WorkflowCompleted (No Receipt)": {
      "main": [
        [
          {
            "node": "Respond - No Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - AIResponseReceived": {
      "main": [
        [
          {
            "node": "IF - Missing required fields?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Missing required fields?": {
      "main": [
        [
          {
            "node": "Log - MissingRequiredFields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Mock Force Sheets Failure? (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - MissingRequiredFields": {
      "main": [
        [
          {
            "node": "IF - Mock Force Sheets Failure? (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Append - Pending Review": {
      "main": [
        [
          {
            "node": "Sheets Write Failed? (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - Pending Review": {
      "main": [
        [
          {
            "node": "Log - WorkflowCompleted (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - WorkflowCompleted (Pending)": {
      "main": [
        [
          {
            "node": "Respond - Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Append - Approved": {
      "main": [
        [
          {
            "node": "Sheets Write Failed? (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify - Success": {
      "main": [
        [
          {
            "node": "Log - WorkflowCompleted (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - WorkflowCompleted (Approved)": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Write Failed? (Pending)": {
      "main": [
        [
          {
            "node": "Log - SheetAppendFailed (Pending)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notify - SheetWriteFailed (Pending)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - SheetAppendSucceeded (Pending)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notify - Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - SheetAppendFailed (Pending)": {
      "main": [
        []
      ]
    },
    "Discord Notify - SheetWriteFailed (Pending)": {
      "main": [
        []
      ]
    },
    "Sheets Write Failed? (Approved)": {
      "main": [
        [
          {
            "node": "Log - SheetAppendFailed (Approved)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notify - SheetWriteFailed (Approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - SheetAppendSucceeded (Approved)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Notify - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - SheetAppendFailed (Approved)": {
      "main": [
        []
      ]
    },
    "Discord Notify - SheetWriteFailed (Approved)": {
      "main": [
        []
      ]
    },
    "IF - Mock Force Sheets Failure? (Pending)": {
      "main": [
        [
          {
            "node": "Emit Mock Sheet Error (Pending)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets Append - Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Mock Sheet Error (Pending)": {
      "main": [
        [
          {
            "node": "Sheets Write Failed? (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Mock Force Sheets Failure? (Approved)": {
      "main": [
        [
          {
            "node": "Emit Mock Sheet Error (Approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets Append - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Mock Sheet Error (Approved)": {
      "main": [
        [
          {
            "node": "Sheets Write Failed? (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "description": "Mock-AI variant of the AccountantBot workflow. The LLM HTTP call is replaced with a Code node that returns a hardcoded receipt, so the workflow exercises only the Google Sheets, Discord, and MongoDB logging integrations."
  },
  "tags": []
}