workflows/logging_sub_workflow.json
{
  "name": "AccountantBot - Logging Subworkflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "log-trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const s = $json;\nreturn [{\n  json: {\n    label: s.label || 'info',\n    event: s.event || 'WorkflowEvent',\n    logTimestamp: new Date().toISOString(),\n    messageId: s.messageId || '',\n    discordUser: s.discordUser || '',\n    messageTimestamp: s.messageTimestamp || '',\n    details: s.details || '',\n    status: s.status || '',\n    receiptDetected: s.receiptDetected ?? null,\n    hasMissingFields: s.hasMissingFields ?? null,\n    missingFields: s.missingFields || [],\n    merchant: s.merchant || '',\n    receiptDate: s.receiptDate || '',\n    category: s.category || '',\n    currency: s.currency || '',\n    totalAmount: s.totalAmount || '',\n    confidence: s.confidence || '',\n    n8nStackTrace: s.n8nStackTrace || null,\n    logSource: 'n8n',\n    workflowName: 'Automated Expense Management - Discord Receipt RPA Prototype'\n  }\n}];"
      },
      "id": "log-prepare-1",
      "name": "Prepare Log Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "logs",
        "fields": "label,event,logTimestamp,messageId,discordUser,messageTimestamp,details,status,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,confidence,n8nStackTrace,logSource,workflowName",
        "options": {}
      },
      "id": "log-mongo-1",
      "name": "MongoDB Insert",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [680, 300],
      "continueOnFail": true,
      "credentials": {
        "mongoDb": {
          "id": "PLACEHOLDER_MONGO_CREDENTIAL_ID",
          "name": "MongoDB AccountantBotDatabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "log-check-success-1",
      "name": "Insert Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const attempts = $json._retryAttempt || 0;\nreturn [{ json: { ...$json, _retryAttempt: attempts } }];"
      },
      "id": "log-retry-init-1",
      "name": "Init Retry Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-attempts",
              "leftValue": "={{$json._retryAttempt}}",
              "rightValue": 3,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "log-check-retries-1",
      "name": "Retries Remaining?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "jsCode": "const attempt = $json._retryAttempt || 0;\nconst delaySeconds = 3 + (attempt * 3);\nreturn [{ json: { ...$json, _retryAttempt: attempt + 1, _retryDelay: delaySeconds } }];"
      },
      "id": "log-increment-retry-1",
      "name": "Increment Retry Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "value": "={{$json._retryDelay}}"
      },
      "id": "log-wait-1",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "logs",
        "fields": "label,event,logTimestamp,messageId,discordUser,messageTimestamp,details,status,receiptDetected,hasMissingFields,missingFields,merchant,receiptDate,category,currency,totalAmount,confidence,n8nStackTrace,logSource,workflowName",
        "options": {}
      },
      "id": "log-mongo-retry-1",
      "name": "MongoDB Insert Retry",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [2000, 300],
      "continueOnFail": true,
      "credentials": {
        "mongoDb": {
          "id": "PLACEHOLDER_MONGO_CREDENTIAL_ID",
          "name": "MongoDB AccountantBotDatabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-retry-error",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "log-check-retry-success-1",
      "name": "Retry Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_LOG_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "⛔ **AccountantBot — Log Write Failed**\nFailed to write log to MongoDB after 3 retries.\n**Event:** {{ $json.event }}\n**User:** {{ $json.discordUser }}\n**Details:** {{ $json.details }}\n<@&{{ $env.DISCORD_ACCOUNTANT_ROLE_ID }}> please check the database connection."
            }
          ]
        },
        "options": {}
      },
      "id": "log-discord-fail-1",
      "name": "Notify Log Failure in Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 480]
    },
    {
      "parameters": {
        "content": "Logging Subworkflow\n\nAccepts any log payload from the main workflow via Execute Workflow node.\n\nRetry logic:\n- First attempt: immediate\n- Retry 1: wait 3s\n- Retry 2: wait 6s\n- Retry 3: wait 9s\n- All retries failed: notify accountant role in Discord\n\nAll logs go to MongoDB collection: logs\n\nInput fields expected:\nlabel, event, messageId, discordUser,\nmessageTimestamp, details, status,\nreceiptDetected, hasMissingFields,\nmissingFields, merchant, receiptDate,\ncategory, currency, totalAmount,\nconfidence, n8nStackTrace (errors only)",
        "height": 400,
        "width": 440,
        "color": 7
      },
      "id": "readme-logging-sub",
      "name": "README - Logging Subworkflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -140]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Prepare Log Document", "type": "main", "index": 0 }]]
    },
    "Prepare Log Document": {
      "main": [[{ "node": "MongoDB Insert", "type": "main", "index": 0 }]]
    },
    "MongoDB Insert": {
      "main": [[{ "node": "Insert Successful?", "type": "main", "index": 0 }]]
    },
    "Insert Successful?": {
      "main": [
        [],
        [{ "node": "Init Retry Counter", "type": "main", "index": 0 }]
      ]
    },
    "Init Retry Counter": {
      "main": [[{ "node": "Retries Remaining?", "type": "main", "index": 0 }]]
    },
    "Retries Remaining?": {
      "main": [
        [{ "node": "Increment Retry Counter", "type": "main", "index": 0 }],
        [{ "node": "Notify Log Failure in Discord", "type": "main", "index": 0 }]
      ]
    },
    "Increment Retry Counter": {
      "main": [[{ "node": "Wait Before Retry", "type": "main", "index": 0 }]]
    },
    "Wait Before Retry": {
      "main": [[{ "node": "MongoDB Insert Retry", "type": "main", "index": 0 }]]
    },
    "MongoDB Insert Retry": {
      "main": [[{ "node": "Retry Successful?", "type": "main", "index": 0 }]]
    },
    "Retry Successful?": {
      "main": [
        [],
        [{ "node": "Init Retry Counter", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "description": "Reusable logging subworkflow with retry logic. Called from the main AccountantBot workflow via Execute Workflow node."
  },
  "tags": []
}